# Dependency directories
node_modules/
bun.lockb

# Build output
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional runtime files
*.log
*.lock
*.env

# Local environment files
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db
